<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html xmlns:th="http://www.thymeleaf.org"/>
</head>
<body>
<h1>Spring Boot File Upload Example</h1>
<hr/>
<h4>Upload Single File:</h4>
<form method="POST" th:action="@{/uploadFile}" enctype="multipart/form-data">
    <input type="file" name="file"/> <br/><br/>
    <button type="submit">Submit</button>
</form>
<hr/>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
</body>
</html>